<div class="container">
  <h1><%= @deck.name %></h1>

    THIS SHIT GONNA BE MAD HARD BRUH<br><br>


  <form action="/deck/<%= @deck.id %>/round" method="POST">
    <input type="submit" value="Start">
  </form><br><br><br>

  <% if @deck.user_id == session[:user_id] %>
  <form action="/deck/<%= @deck.id %>/edit" method="get">
    <input type="submit" value="Edit Deck">
  </form>
  <form action="/deck/<%= @deck.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Deck">
  </form>
  <% end %>



</div>
