<div class="container">
  <h1><%= @deck.name %></h1>

    THIS SHIT GONNA BE MAD HARD BRUH<br><br>


  <form action="/deck/<%= @deck.id %>/round" method="POST">
    <input type="submit" value="Start">
  </form>



</div>
