<div class="container">
  <p> Create a New Deck <p>




<form action="/deck" method="post">
  Deck Title:
  <input type="text" name="name">
  <input type="submit" value="Create New Deck">
</form>

</div>