<div class="container">
  <p> Create a New Deck <p>
	<% if @deck %>
    <%= erb :model_errors, :locals => { :model => @deck } %>
  <% end %>
	<form action="/deck" method="post">
	  Deck Title:
	  <input type="text" name="name">
	  <input type="submit" value="Create New Deck">
	</form>
</div>