<div class="container">
  <p>Your Guess! <%= @correct %></p>

  <form action="/deck/<%= @deck.id %>/card/<%= @deck.cards.shuffle.first.id %>" method="GET">
    <input type="submit" value="Next">
  </form><br>
  <form action="/user/results" method="GET">
    <input type="submit" value="End Quiz">
  </form>
</div>
