<div class="container">
  <h1>Quiz Answer</h1>
  <p><%= @deck %></p>

  <form action="/card/question" method="GET">
    <p><%= @card.question %></p>
    <p><%= @card.answer %></p>
    <p><%= @correct %></p>
    <input type="submit" value="Next">
  </form>
</div>
